<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">

      <h1>釣り人のための釣果共有サイト</h1>
      <br>
      <br>
      <br>
      <p>沖縄のアングラー、釣り人が沖縄で釣った魚を県外に発信したり、自分の釣果を見せ合うところです</p>
    </div>
  </div>
</div>


