<form action="/login" method="post" >
  <div id="fh5co-intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">

<h3>ログイン</h3>
<p>ユーザー名</p>
<input type="text" name="email"></p>
<p>パスワード</p>
<input type="password" name="password"></p>
<br>
<br>
  <button type="submit" class="btn btn-success btn">ログイン</button>
<br>
<br>

<a href="/register">新規登録はこちらから</a>

        </div>
      </div>
    </div>
  </div>

</form>


