<form action="/new" method="post" enctype="multipart/form-data">


  <input type="file" class="form-control" name="file">

  <input type="text" name="title"></p>
  <input type="text" name="description"></p>


<button type="submit" class="btn btn-success btn">投稿</button>
</form>





