<form action="/register" method="post" >
  <div id="fh5co-intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">


  <h3>新規登録画面</h3>
  <p>ユーザー名</p>
  <input type="text" name="email"></p>
  <p>パスワード</p>
  <input type="password" name="password"></p>
  <br>
  <br>
  <button type="submit" class="btn btn-success btn">登録</button>
  <br>
  <br>
        </div>
      </div>
    </div>
  </div>


</form>